<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="stajl.css">
<title>Vad kan du om svensk aborträtt?</title>
</head>
<body>
<h2>Fråga 1</h2>
<p>Vilket år fick Sverige fri abort?</p>
<form action="resultat.php">
<input type="radio" name="year free abortion" value="1934">1934
<br>
<input type="radio" name="year free abortion" value="1974">1974
<br>
<input type="radio" name="year free abortion" value="1990">1990
<p>
<input type="submit" value="Skicka in svar">
</p>
</form>

<p><a href="index.html">Tillbaka till frågesportens startsida. </a></p>
</body>
</html>