<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="stajl.css">
<title>Vad kan du om svensk aborträtt?</title>
</head>
<body>
<h1>Vad kan du om svensk aborträtt?</h1>
<p>Den 1 januari 2015 högtidlighölls det att det var 40 år sedan Sveriges lagstiftning om fri abort trädde i kraft. Hösten 2014 berättade RFSU och RFSUs aborträttsnätverk historien om vägen till fri abort. Det var en berättelse som innehöll nedslag i Sveriges fascinerande, rika, hoppfulla men bitvis också mycket mörka sexualpolitiska historia.</p>


<center><h1><a href="abortratt1.html">Starta frågesporten</a></h1></center>
<img src="460x132abort.jpg">

<p>Frågesporten är en komprimerad sammanfattning av vägen mot fri abort. 
Mer information om aborträtt, och rätta lösningar till frågorna, hittar du på <a href="http://www.rfse.se/abort40">RFSUs webbplats.</a><br>
Lycka till!</p>


</body>
</html>

