<doctype! html>
<html>
<head>
<title>Vad kan du om Sveriges aborträttshistoria?</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/stajl.css">
</head>
<body>

<h1>Vad kan du om svensk aborträtt?</h1>
<p>Den 1 januari 2015 högtidlighölls att det var 40 år sedan Sveriges lagstiftning om fri abort trädde i kraft. Strax därinnan, hösten 2014, berättade RFSU och RFSUs aborträttsnätverk <a href="http://www.rfsu.se/abort40">historien om vägen till fri abort</a>a>.</p>
<p>Det här aborträttsquizen skapades som ett testprojekt under ett kodläger med <a href="www.tjejerkodar.se">Tjejer kodar augusti 2015 av Viktoria Asp. Faktan är hämtad från <a href="www.rfsu.se/abort40">Abort40</a> och RFSU:s broschyr <a href="http://www.rfsu.se/Bildbank/Dokument/Sexualpolitik/omabort_web.pdf?epslanguage=sv">Om abort.</a> 

{% for quiz in quizzes %}
<p><a href="{% url "quiz_page" quiz.slug %}">
{{ quiz.name }}
</a></p>
{% endfor %}

<img src="/static/460x132abort.jpg" alt="abort40-logga">

</body>
</html>