<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/stajl.css">
<title>Aborträttsquiz</title>
</head>
<body>
<div id="header">
<h1>Resultat</h1>
</div>

<div id="content">
<h2>Du har fått {{ correct }} rätt av {{ total }} möjliga!</h2>



{% for question in questions %}
                   <h3><p>{{ question.question }}</p></h3>
                   Rätt svar: 
                       {% if question.correct == 1 %}
                           {{question.answer1}}
                       {% elif question.correct == 2 %}
                           {{question.answer2}}
                       {% elif question.correct == 3 %}
                           {{question.answer3}}
                    {% endif %}
                    <br>
                 
    {% for question_number, user_answer in saved_answers.items %}
        {% if question_number == forloop.parentloop.counter|stringformat:"s" %}
            {% if user_answer == 1 %}
                    Du svarade: {{ question.answer1 }}
                    {% endif %}
                    {% if user_answer == 2 %}
                    Du svarade: {{ question.answer2 }}
                    {% endif %}
                    {% if user_answer == 3 %}
                    Du svarade: {{ question.answer3 }}
            {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}




                    </p>
                </li>







<p>Frågesporten är en komprimerad sammanfattning av vägen mot fri abort. 
Mer information om aborträtt hittar du på <a href="http://www.rfsu.se/abort40">RFSUs webbplats.</a></p>

<p><a href="{% url "quizzes_page" %}">Till startsidan</a></p>

</div>
{% include "quiz/footer.html" %}
{% include "tracker.html" %}

</body>
</html>