<doctype! html>
<html>
<head>
<title>Frågessporter från #tjejerkodaripalma</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="surveys.css">
</head>
<body>
<img src="tjejerkodarlogga.png" widht="200" height="200" alt="tjejerkodar-logga">
<h1>#tjejerkodaripalma</h1>
<p>I augusti 2015 åkte tjugo tjejer till Mallorca för att under en vecka lära sig koda och bygga webbplatser. </p>
<p>
Målet med veckan var att skapa frågesporter, eftersom det gav oss möjlighet att testa olika saker som python, html, css, django, sublime text, github, databaser och säkert mycket mera. </p>

<h2>Frågesporter</h2>
<ul>
<li>xxx - Sandra Hindskog</li>
<li>xxx - Hanna Pettersson</li>
<li>xxx - Linda Eriksson</li>
<li><a href="index.html">Rätten till fri abort - Viktoria Asp</a></li>
<li>xxx - Agnes Johansson</li>
<li>xxx - Anna Malkan</li>
<li>xxx - Elisabeth Schriever</li>
<li>xxx - Sara Avén</li>
<li>xxx - Maria Selting</li>
<li>xxx - Maria Kareliusson</li>
<li>xxx - Sandra Svensson</li>
<li>xxx - Caroline Bahrton</li>
<li>xxx - Hannah Willén</li>
<li>xxx - Sussi Zällh</li>
<li>xxx - Amanda Sjöswärd</li>
<li>xxx - Teresia Schullström</li>
<li>xxx - Elisabet Johansson</li>
<li>xxx - Gabriela Münnich</li>
<li>xxx - Mariah Strengnell</li>
<li>xxx - My Börjesson</li>
</ul>
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=dGplamVya29kYXJpcGFsbWF8aW58MjAwfDZ8Nnx8bm98M3xub25lfG9uU3RhcnR8bm98eWVz&ve=040815" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
<p>Läs om kommande kodcamp på <a href="http://www.tjejerkodar.se">tjejerkodar.se</a></p>
</body>
</html>