body {background: #EFE5DB}
body {margin: 30px}
p {font font-family: "helvetica"}
* {font color: #2F2F2B}
h1 {font-size: 20px;}
h2 {font-size: 18px;}
p {font-size: 16px}
a:link {color: black}
a:visited {color: black;}
img {display: block; margin: 10px, auto}
label {
  margin: 30px 30px;
}

